@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

body {
  overflow: hidden;
}

h1 {
  text-shadow: 1px 1px 4px black;
  font-family: "Poppins", sans-serif;
}

.mainItems {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.about,
.formations,
.experiences,
.hobbies,
.contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
